<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kylin.skinpackage">

    <application
        android:allowBackup="false"
        android:label="SkinPackage"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight" />

</manifest>
